<div class="container">
  <div class="col-xs-12 text-center">
    <h1>Usuários</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.phone %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Editar', edit_user_path(user), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Excluir', user_path(user), method: :delete, class: 'btn btn-danger', data: { confirm: "Deseja mesmo excuir este usuario?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>